# ML Lab 2 - Data Preprocessing
###    - By Mahammadayan Shaikh (CE124)

## 1. Handling Missing Values

In [1]:
#Importing Libraries
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [2]:
# Loading Data
dataset = pd.read_csv('Exercise-CarData.csv')
print("Data Statistics :- \n",dataset.describe())

Data Statistics :-
         Unnamed: 0         Price          Age     MetColor    Automatic  \
count  1436.000000   1436.000000  1336.000000  1286.000000  1436.000000
mean    717.500000  10730.824513    55.672156     0.674961     0.055710
std     414.681806   3626.964585    18.589804     0.468572     0.229441
min       0.000000   4350.000000     1.000000     0.000000     0.000000
25%     358.750000   8450.000000    43.000000     0.000000     0.000000
50%     717.500000   9900.000000    60.000000     1.000000     0.000000
75%    1076.250000  11950.000000    70.000000     1.000000     0.000000
max    1435.000000  32500.000000    80.000000     1.000000     1.000000

                CC      Weight
count  1436.000000  1436.00000
mean   1566.827994  1072.45961
std     187.182436    52.64112
min    1300.000000  1000.00000
25%    1400.000000  1040.00000
50%    1600.000000  1070.00000
75%    1600.000000  1085.00000
max    2000.000000  1615.00000

```Count of Entries in Age & MetColor is less than total entries so they're having Missing Values.```

In [3]:
# Seperate Input & Output Variables
X = dataset.iloc[:,:-1].values
Y = dataset.iloc[:,-1].values
print("Input : \n",X)
print("\nOutput : \n",Y)

Input :
 [[0 13500 23.0 ... 0 2000 'three']
 [1 13750 23.0 ... 0 2000 '3']
 [2 13950 24.0 ... 0 2000 '3']
 ...
 [1433 8500 nan ... 0 1300 '3']
 [1434 7250 70.0 ... 0 1300 '3']
 [1435 6950 76.0 ... 0 1600 '5']]

Output :
 [1165 1165 1165 ... 1015 1015 1114]

In [4]:
# Removing rows containing null values for all attributes
dataset.dropna(how='all',inplace=True)
# print("New Data Statistics:\n\n",dataset.describe())

In [5]:
# Applying Imputation to replace null values with mean value


# All rows, all columns except last 
new_X = dataset.iloc[:, :-1].values 
  
# Only last column  
new_Y = dataset.iloc[:, -1].values 


# Using Imputer function to replace NaN values with mean of that parameter value 
imputer = SimpleImputer(missing_values = np.nan,strategy = "mean")

# Fitting the data, function learns the stats 
imputer = imputer.fit(new_X[:, 1:3]) 
  
# fit_transform() will execute those stats on the input ie. X[:, 1:3] 
new_X[:, 1:3] = imputer.transform(new_X[:, 1:3]) 
  
# filling the missing value with mean 
print("\n\nNew Input with Mean Value for NaN : \n\n", new_X)

New Input with Mean Value for NaN :

 [[0 13500.0 23.0 ... 0 2000 'three']
 [1 13750.0 23.0 ... 0 2000 '3']
 [2 13950.0 24.0 ... 0 2000 '3']
 ...
 [1433 8500.0 55.67215568862275 ... 0 1300 '3']
 [1434 7250.0 70.0 ... 0 1300 '3']
 [1435 6950.0 76.0 ... 0 1600 '5']]

## 2. Data Transformation

In [6]:
# Import Libraries for transformation
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [8]:
X_new = dataset.iloc[:,1:3].values
print("\n\nX for transformation : \n", X_new)

X for transformation :
 [[13500.    23.]
 [13750.    23.]
 [13950.    24.]
 ...
 [ 8500.    nan]
 [ 7250.    70.]
 [ 6950.    76.]]